{% extends 'base.html' %}

{%load static%}

{% block lienCss %}
<link rel="stylesheet" href="{%static 'css_student/lstyle.css'%}">
{% endblock %}
			
    {% block body %}

<!--Formulaire --> 
	
<section class="grouper">
   
            <div class="form-container">
                <h1>Ajouter un élève</h1>
                <p> <a href="{% url 'student:index' %}">Retour <i class="	fas fa-arrow-circle-right"></i></a></p>
                <form action="" method="post">
                    
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    
                      
                    
                    <div class="form-buttons">
                        <button type="button" class="cancel-button">Annuler</button>
                        <button type="submit" class="submit-button">Enregistrer</button>
                    </div>
                </form>
            </div>

        </section>

    </div>

	
	
{% endblock body %}
	
	
	


