{% extends 'base.html' %}

{%load static%}

    {% block lienCss %}

    <link rel="stylesheet" href="{%static 'css/pstyle.css'%}">
    {% endblock %}							

<!--Formulaire -->
	
{% block body %}
<section class="grouper">
   
            <div class="form-container">
                <h1>Modifier Professeur</h1>
                <p> <a href="{% url 'teacher:index' %}">Retour <i class="	fas fa-arrow-circle-right"></i></a></p>
                <form action="" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ teacher_form }}
                    </div>
                    <div class="form-buttons">
                        <button type="button" class="cancel-button">Annuler</button>
                        <button type="submit" class="submit-button">Enregistrer</button>
                    </div>
                </form>
            </div>

        </section>

	<script src="code.js"></script>
	{% endblock body %}
