{% extends 'base.html' %}

{%load static%}

    
 {% block lienCss %}
    <link rel="stylesheet" href="{%static 'css_teacher/pstyle.css'%}">
    {% endblock %}						



	
    {% block body %}
<section>

   
    <div class="table_responsive">

        <h1 class="heading">Les <span>professeurs</span> </h1>
		<p> <a href="{% url 'teacher:add' %}">Ajouter Professeur <i class="fas fa-add"></i></a></p>
        <table>
        
    
    <table align='center' border='2' width='50%'>
        <thead>
            <tr>
            <th>Nom</th>
            <th>Prenom(s)</th>
            <th>Genre</th>
            <th>Matière</th>
            <th>Matricule</th>
            <th>Age</th>
            <th>Telephone</th>
            <th>Ville</th>
            <th>Actions</th>
             </thead>
            </tr>
            
           
            <tr>
                {% for teacher in teachers %}
                <td>{{teacher.first_name}}</td> 
                <td>{{teacher.last_name}}</td> 
                <td>{{teacher.gender}}</td>
                <td>{{teacher.Class}}</td> 
                <td>{{teacher.Registration}}</td> 
                <td>{{teacher.Age}}</td> 
                <td>{{teacher.Number}}</td>
                <td>{{teacher.City}}</td>  
                
                
                <td>
                <span class='action_btn'>
                    <a href="{% url 'teacher:delete' teacher.id %}" style='text-decoration: none' onclick="confirmDelete(event, this)">Supprimer</a>
                
                
                <a href="{%url 'teacher:edit' teacher.id %}" style='text-decoration: none'>Modifier</a>
                </span>
                </td>
            </tr>
            {% endfor %}
        
    </table>
            
            
    
        
        
    
      </tbody>
       
      </div>
            
         


</section>

</div>
<script>
    function confirmDelete(event, element) {
    event.preventDefault();  // Empêche la redirection immédiate

    Swal.fire({
        title: 'Êtes-vous sûr ?',
        text: "Vous ne pourrez pas annuler cette action !",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Oui, supprimez-le !'
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire(
                'Supprimé !',
                'Votre fichier a été supprimé.',
                'success'
            ).then(() => {
                window.location.href = element.href;  // Redirige vers l'URL de suppression
            });
        }
    });
}
</script>

	<script src="code.js"></script>
	
	{% endblock body %}
	
	
	

